<p><%= render @post.categories %></p>

<%= render 'shared/content_title', title: @post.title %>
<p><%= @post.description %></p>

<%= render 'shared/error', obj: @comment %>
<%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :body %>
  <br>
  <%= f.submit "Create comment", class: 'btn btn-primary' %>
<% end%>

<% @post.comments.each do |comment| %>
  <div class='well span8'>
    <em>"<%= comment.body %>"</em><br>
    <span class='quiet'>by </span><%= comment.creator.username %>
    <small>at <%= comment.created_at %></small>
  </div>
<% end %>